Loading data set

In [ ]:
# import the libraries
import numpy as np
import pandas as pd

In [ ]:
#loading of dataset
df1 = pd.read_csv('learning2.csv')
df1

Descriptive Analysis

In [ ]:

df1.shape
df1.index
df1.columns
df1.head()
df1.describe(include="all").T

Accessing data

In [ ]:
df1[['Vol','HQ','MNC']]

In [ ]:
#df1['Kolkata_FMCG']
df1['Kolkata_FMCG':'Eastern_Estates']
df1['Kolkata_FMCG':'Eastern_Estates':2]

In [ ]:
df1.iloc[0]

In [ ]:
# Conditional access
mask1 = df1.Sector == 'Pub'
mask1

df1[mask1]

In [ ]:
df1[(df1.Sector == 'Pub') & (df1.GST == 'Goods')]

In [ ]:
df1.Rev.mean()
df1[df1.Rev > df1.Rev.mean()]
df1.Sector.value_counts()
dfg = df1.groupby(by='Sector')
dfg

In [ ]:
#Sorting

df2 = df1.sort_index(axis=0, ascending=True, inplace=False)
#print(df2)

df3=df1.sort_values(by='Vol',axis=0, ascending=True, inplace=False)
print(df3)

In [ ]:
# Drop
df1.drop(index=['NCR_Leagles','Bangalore_Breweries'], columns=['Vol','GST','MNC'], inplace=False)
df1   # does it reflect?

In [ ]:
#Rename a column
df1.rename(index={'Bangalore_Breweries':'UB', 'Central_Services':'IR'},
          columns={'Vol':'Sales', 'Exp':'Expenditure', 'Rev':'Revenue'})

df1 ## Does it reflect?

In [63]:

def Emp_count_analysis(empcount):
    if empcount > 2000:
        return 'large'
    elif empcount < 2000:
        return 'Mid'
    else:
        return 'Small'
    

df1['Scale'] = df1.EmpCnt.map(Emp_count_analysis)

df1

,Vol,Rev,Exp,Sector,EmpCnt,HQ,MNC,StockID,GST,Start Date,Scale
Deccan_Sporting,931,839.80,615,Pvt,154,Hyd,1,SPRT,Services,Mar 1943,Mid
Kolkata_FMCG,925,874.40,676,Pub,1379,Kol,0,KFMC,Goods,Jan 1920,Mid
NCR_Leagles,931,863.50,605,Pub,1935,NCR,0,NCRL,Services,Feb 1960,Mid
Bangalore_Systems,900,881.60,650,Gov,1361,Blr,0,BSYS,Services,Apr 1950,Mid
Chennai_Chemicals,966,863.20,608,Pub,1656,Che,1,CHEM,Goods,Aug 1928,Mid
Indi_Services,954,733.00,609,Gov,13023,NCR,0,INDI,Services,Mar 1920,large
Bangalore_Breweries,966,805.00,899,Pvt,119,Blr,1,BREW,Goods,Oct 1971,Mid
Bombay_Finance,899,917.00,674,Pub,1443,Mum,0,BFIN,Services,Apr 1925,Mid
Chennai_Shipping,992,821.00,665,Pub,899,Che,1,SHIP,Goods,Nov 1930,Mid
Eastern_Estates,945,834.23,789,Pvt,1873,Kol,1,EEST,Goods,Jan 1994,Mid
Central_Services,934,824.00,689,Gov,1573,NCR,1,CSRV,Services,Jun 1974,Mid